*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

:root{
    --color1: #ffffff;
    --color2: #cd9042;
    --color3: rgb(215,214,214);

    --bg-nav:#131921;
    --bg-subnav:#232f3e;
    --bg-body:#eaeded;
}

body{
    background-color: var(--bg-body);
}

.d-flex{
    display: flex;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

nav{
    width: 100%;
    background-color: var(--bg-nav);
    text-align: center;
}

 /* start Brand Logo  */
nav .nav_brand_logo a{
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 5px;
}
nav .nav_brand_logo{
   position: relative;
}

nav .nav_brand_logo a img{
    width: 100px;
    margin: 20px 18px 0;
}
nav .prime{
    color:#8091a5;
    position: absolute;
    top: 45px;
    right: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

nav .nav_brand_logo a span {
    color: var(--color1);
    font-size: 14px;
    margin-left: -15px;
    margin-top: 8px;
}
/* .nav_brand_logo:hover{
border: 2px solid white;
} */
/* End Brand Logo */

/* Start Select address */
nav .addr a p , h4{
    color: var(--color1);
    text-decoration: none;
    margin: auto;
}
nav .addr a p{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 1px;
    margin-left: 5px;
}
nav .addr a h4{
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 600;
    margin-left: 3px;
}
nav .addr {
    display: flex;
    padding: 5px;
    align-items: center;
}

nav .addr .icon li{
    color: var(--bg-body);
    margin-bottom: -10px;
    margin-left: 10px; 
}
/* .addr:hover{
    border: 2px solid white;
} */
/* End Select address */

/* start of search */
nav .d_flex_Search{
    display: flex;
    align-items: center;
}
nav .d_flex_Search #allmenu{
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}
nav .d_flex_Search #allmenu option{
   background-color: var(--bg-body); 
   color: var(--bg-nav);
}
nav .d_flex_Search input {
    padding: 10px;
    width: 500px;
    border: none;
}
nav .d_flex_Search i {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--color2);
   
}
/* End of search */

/* .block{
    display: flex;
    align-items: center;
    padding: 15px;
} */

/* start of Country flag */
nav .country_flag{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
}
nav .country_flag #country_language option{
    padding: 5px;
}
nav .country_flag #country_language {
   margin-left: 5px;
   background: var(--bg-nav);
   color: var(--color1);
   font-weight: 800;
   font-family: Arial, Helvetica, sans-serif;
   border-style: none;
}
/* End of Country flag */

/* Start of sign in */

nav .accounts{
    display: flex;
    align-items:center;
    text-align: left;
    padding: 5px;
    position: relative;
}
nav .accounts a p{
    text-decoration: none;
    color: var(--color1);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
nav .accounts a h4{
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
nav .accounts a i{
    position: absolute;
    top: 34px;
    left: 140px;
    color: grey;
}
/* End of sign in */

 /* Start of Returns and Orders  */
 nav .returns{
    display: flex;
    align-items: center;
    margin-left: 20px;
 }
 nav .returns a{
    text-decoration: none;
    color: var(--color1);
    text-align: left;
 }

 nav .returns a p {
     font-size: 13px;
     font-family: Arial, Helvetica, sans-serif;
 }

 nav .returns a h4 {
     padding: 1px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 600;
 }
 /* End of Returns and Orders  */

 /* Start of Cart items */
 nav .cart{
    display: flex;
    align-items: center;
    margin-left: 15px;
    /* background-color: var(--color1); */
 }
 nav .cart a{
    text-decoration: none;
    color: var(--color1);
 }
 nav .cart .fa-cart-shopping{
  font-size: 30px;
 }

 nav .cart a span{
padding: 1px;
font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
 }

 /* End of Cart items */

 /* start of subnav */

 .subnav{
    background-color: var(--bg-subnav);
    padding: 10px;
    position: relative;
 }
 .subnav a{
    text-decoration: none;
    color: var(--color1);
    padding: 5px;
    margin: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
 }
 .subnav .fa-bars{
    font-size: 17px;
 }
 .subnav .promoimage{
    width:100%;
    position: absolute;
    top:0px;
    left:950px
 }
