:root{
    --offcanvas-width:250px;
    --topNavbarHeight:56px;
}

.sidebar-offcanvas{
    width: var(--offcanvas-width) !important;
}
@media (min-width:750px) {

    .sidebar-offcanvas{
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight));
    }
    
}