:root{
    --offcanvas-width:250px;
    --topNavbarHeight:56px;
}

.sidebar-offcanvas{
    width: var(--offcanvas-width) !important;
}

.sidelink-nav[aria-expanded="true"] .right-icon{
transform: rotate(180deg) !important;
transition: all ease 0.25s !important;
}
@media screen and (min-width:750px) {

    .sidebar-offcanvas{
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight));
    }   
        .containerCard {
           margin-left: 20% !important;
        }
}


.allcards{
    display: flex;
    justify-content:space-between;
}

