html,body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sky,.grass,.road{
    position: relative;
}

.sky{
    background-color: skyblue;
    height: 55%;
}

.cloud{
 position: absolute;
 height: 45%;
 left: 20%;
 top: 20%;
}

.cloud:hover{
opacity: 40%;
transform: translateX(100px);
}
.grass{
    background-color: green;
    height: 20%;
}

.road{
    background-color: gray;
    height: 35%;
    border-top: 5px solid black;
}
.divider{
    position:absolute;
    border: 4px dashed white;
    top: 35%;
    width: 100%;
}

.audi,.maruti {
     position: absolute;
     height: 60%;
     transform: translateX(30px);
}

.maruti{
position: absolute;
top: 25%;
}