html,body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sky,.grass,.road{
    position: relative;
}

.sky{
    background-color: skyblue;
    height: 55%;
}

.cloud{
 position: absolute;
 height: 45%;
 left: 20%;
 top: 20%;
 animation-name: movingCloud;
 animation-duration: 8s;
 animation-timing-function: ease-in;
 animation-iteration-count: infinite;
}

.cloud:hover{
/* opacity: 40%; */
transform: translateX(100px);
}
.grass{
    background-color: green;
    height: 20%;
}

.road{
    background-color: gray;
    height: 35%;
    border-top: 5px solid black;
}
.divider{
    position:absolute;
    border: 4px dashed white;
    top: 35%;
    width: 100%;
}

.audi,.maruti {
     position: absolute;
     height: 60%;
}

.audi{
    bottom: 40%;
    animation-name: driveaudi;
    animation-duration: 9s;
    /* animation-iteration-count: 3; */
        animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-timing-function: ease-in; */
    /* animation-timing-function: ease-out; */
}

.maruti{
top: 25%;
    animation-name: drivemaruti;
    animation-duration: 7s;
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
    animation-timing-function: ease-in;
    /* animation-timing-function: ease-out; */
}

@keyframes driveaudi {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(1100px);
    }
}
@keyframes drivemaruti{
    from{transform: translateX(0px);}
    to{transform: translateX(1100px);}
}

@keyframes movingCloud {
    from{transform: translate(0px);}
    to{transform: translate(1000px);}

}